{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Apartment Management System</title>
        <meta name="description" content="">
        <meta name="keywords" content="index">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="icon" type="image/png" href="{% static  'assets/i/favicon.png'%}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'assets/i/app-icon72x72@2x.png' %}">
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <link rel="stylesheet" href="{% static 'assets/css/amazeui.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/admin.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
        <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body data-type="generalComponents">
        <header class="am-topbar admin-header">

            <div class="am-topbar-brand">
                <h4 href="javascript:;" class="tpl-logo">
                    Apartment Management System
                </h4>
            </div>
            <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
            </div>
            <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                    <li><a>{{ request.user }}</a></li>
                    <li><a href="{% url 'users:logout' %}">Log out</a></li>
                </ul>
            </div>
        </header>
        <div class="tpl-page-container tpl-page-header-fixed">
            <div class="tpl-left-nav tpl-left-nav-hover">
                <div class="tpl-left-nav-title">Navigation</div>
                <div class="tpl-left-nav-list">
                    <ul class="tpl-left-nav-menu">
                        <li class="tpl-left-nav-item">
                            <a href="/index"  {% if request.path == '/index/' %} class="nav-link active" {% else %} class="nav-link tpl-left-nav-link-list" {% endif %}>
                                <i class="am-icon-home"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/student" {% if request.path == '/student/' %} class="nav-link active" {% else %} class="nav-link tpl-left-nav-link-list" {% endif %}>
                                <i class="am-icon-comment"></i>
                                <span>User Information</span>
                            </a>
                        </li>

                        <li class="tpl-left-nav-item">
                            <a href="/room" {% if request.path == '/room/' %} class="nav-link active" {% else %} class="nav-link tpl-left-nav-link-list" {% endif %}>
                                <i class="am-icon-bar-chart"></i>
                                <span>Apartment Information</span>
                            </a>
                        </li>

                        <li class="tpl-left-nav-item">
                            <a href="/sanitation" {% if request.path == '/sanitation/' %} class="nav-link active" {% else %} class="nav-link tpl-left-nav-link-list" {% endif %}>
                                <i class="am-icon-github-square"></i>
                                <span>Hygiene</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/device" {% if request.path == '/device/' %} class="nav-link active" {% else %} class="nav-link tpl-left-nav-link-list" {% endif %}>
                                <i class="am-icon-feed"></i>
                                <span>Device Record</span>
                            </a>
                        </li>
                        <li class="tpl-left-nav-item">
                            <a href="/rule" {% if request.path == '/rule/' %} class="nav-link active" {% else %} class="nav-link tpl-left-nav-link-list" {% endif %}>
                                <i class="am-icon-certificate"></i>
                                <span>Violation Record</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="tpl-content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script src="/static/assets/js/jquery.min.js"></script>
        <script src="/static/assets/js/amazeui.min.js"></script>
        <script src="/static/assets/js/app.js"></script>
    </body>
</html>
