{% extends 'base.html' %}
{% block content %}
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <h1 align="center">Welcome to <span style="font-size: 35px;color: #0e90d2">Apartment</span>&nbsp;&nbsp;Management System!</h1>
        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12">
                </div>
            </div>
        </div>
        <div class="tpl-alert"></div>
    </div>
{% endblock %}
